
<div class="container page-container event-list">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h3>Events You Attend</h3>
      </div>
    </div>
  </div>

    <div class="row">
      <% if @events.empty? %>
        <div class="col-md-12 text-center">
          <%= image_tag "icons/empty-state-icon-256.png", class: 'empty-state-icon' %>
          <h3>It's lonely in here</h3>
          <h6>You haven't registered to any event yet.</h6>
          <%= link_to 'Explore Events', root_path, class: 'btn btn-primary btn-primary-cstom' %>
        </div>

      <% else %>
        <div class="col-md-12">

          <div class="list-group">
            <% @events.each do |event| %>

              <div class="media">
                <div class="media-left">
                    <%= image_tag event.cover.url(:thumb), class: 'media-object media-thumb' %>
                </div>
                <div class="media-body">
                  <h4 class="media-heading"><%= event.title %></h4>
                  <p>
                    <%= event.start_date.strftime("%b %d") %>
                  </p>
                  <div class="btn-group">
                    <%= link_to 'View', event, class: 'btn btn-sm btn-default' %>
                  </div>
                </div>
                <hr>
              </div>

            <% end %>
          </div>

        </div>
      <% end %>

    </div>

</div>
