<% content_for(:head) do %>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBF9CVORZkgwcYTVMUuH143sJXsRMZ1M5s&libraries=places">
  </script>
<% end %>

<%= simple_form_for(@event, html: { class: '', multipart: true}) do |f| %>
  <h4>Event Details</h4>
  <%= f.input :title, label: 'Event Title' %>
  <%= f.input :description, label: 'Event Description' %>
  <%= f.input :address, label: 'Venue' %>
  <%= f.input :cover, label: 'Cover Image' %>
  <!-- <%= f.input :category_id, collection: Category.all %> -->
  <%= f.association :category, label: 'Event Category' %>
  <%= f.input :fb_link, label: 'Facebook Event Link', as: :url %>
  <div class="row">
    <%= f.input :start_date,
                label: 'Start Date',
                as: :string,
                wrapper_html: { class: 'col-md-3' } %>
    <%= f.input :start_time,
                label: 'Start Time',
                as: :string,
                wrapper_html: { class: 'col-md-3' },
                input_html: { value: format_time_field(@event.start_time) } %>
    <%= f.input :end_date,
                label: 'End Date',
                as: :string,
                wrapper_html: { class: 'col-md-3' } %>
    <%= f.input :end_time,
                label: 'End Time',
                as: :string,
                wrapper_html: { class: 'col-md-3' },
                input_html: { value: format_time_field(@event.start_time) } %>
  </div>
  <h4>Registration Details</h4>
  <%= f.input :etype,
              label: 'Event Type',
              collection: Event::TYPES.sort.map {|k,v| [v,k]},
              as: :radio_buttons,
              disabled: 2 %>
  <%= f.input :no_of_registrations, disabled: true, label: 'Number of Registrations' %>
  <h4>Organizer Details</h4>
  <%= f.input :organizer_title, label: 'Organizer Title' %>
  <%= f.input :organizer_desc, input_html: { maxlength: 300 }, label: 'Organizer Details (max 300 characters)' %>
  <%= f.input :organizer_tel, as: :tel, label: 'Organizer Contact Number' %>
  <%= f.input :telephone_visible, label: 'Show my contact number on event page' %>

  <%= f.button :submit, class: 'btn btn-primary' %>

<% end %>

<script type="text/javascript">
  $('#event_start_date').pickadate({
    format: 'yyyy-mm-dd',
  });
  $('#event_end_date').pickadate({
    format: 'yyyy-mm-dd',
  });
  $('#event_start_time').pickatime();
  $('#event_end_time').pickatime();

  $(document).ready(function(){

    new google.maps.places.Autocomplete(
    (document.getElementById("event_address")), {
        //options
    });

    var input = document.getElementById("event_address");
    google.maps.event.addDomListener(input, 'keydown', function(e) {
      if (e.keyCode == 13 && $('.pac-container:visible').length) {
          e.preventDefault();
      }
    });

    var a = $("input[name='event[etype]']:checked").val();
    switch(a) {
      case "0":
        $("#event_no_of_registrations").prop("disabled", true);
        break;
      case "1":
        $("#event_no_of_registrations").prop("disabled", false);
        break;
    }

    $("input[name='event[etype]']").change(function() {
      var n = $(this).val();
      switch(n) {
        case "0":
          $("#event_no_of_registrations").prop("disabled", true);
          break;
        case "1":
          $("#event_no_of_registrations").prop("disabled", false);
          break;
      }
    });
  });

</script>
