<% content_for(:head) do %>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBF9CVORZkgwcYTVMUuH143sJXsRMZ1M5s&libraries=places">
  </script>
<% end %>

<%= simple_form_for(@event, html: { class: 'form-horizontal', multipart: true}, wrapper: :horizontal_form) do |f| %>
  <br>
  <h4>Event Details</h4>
  <hr>
  <%= f.input :title, label: 'Event Title',
              hint: 'Enter the title of your event' %>
  <%= f.input :description, label: 'Event Description', input_html: { rows: 5},
              hint: 'Enter a suitable description of your event' %>
  <%= f.input :address, label: 'Venue',
              hint: 'Where is your event held? (Please make sure you enter a valid Google Maps location)' %>
  <%= f.input :cover, label: 'Cover Image', wrapper: :horizontal_file_input,
              hint: 'Upload a beautiful cover photo (Max: 3MB) '%>
  <!-- <%= f.input :category_id, collection: Category.all %> -->
  <%= f.association :category, label: 'Event Category', include_blank: false %>
  <%= f.input :fb_link, label: 'Facebook Event Link', as: :url,
              hint: 'If you have a Facebook event or page we can add a link to it.'%>
    <div class="form-group">

    <span class="help-block col-sm-offset-3 col-sm-9">Set the time and date of your event. If it's a one day event select the same day for start and finish dates.</span>
    </div>
    <%= f.input :start_date,
                label: 'Start Date',
                as: :string %>
    <%= f.input :start_time,
                label: 'Start Time',
                as: :string,
                input_html: { value: format_time_field(@event.start_time) } %>
    <%= f.input :end_date,
                label: 'End Date',
                as: :string %>
    <%= f.input :end_time,
                label: 'End Time',
                as: :string,
                input_html: { value: format_time_field(@event.start_time) } %>
  <br>
  <h4>Registration Details</h4>
  <hr>
  <span class="help-block col-sm-offset-3 col-sm-9">Note : At the moment our
    platform does not support online ticket handling. If your event is paid ticket based, you can add the ticket details below.</span>
  <%= f.input :etype,
              label: 'Event Type',
              collection: Event::TYPES.sort.map {|k,v| [v,k]},
              as: :radio_buttons,
              wrapper: :horizontal_radio_and_checkboxes %>
  <%= f.input :no_of_registrations, disabled: true, label: 'Number of Registrations',
              hint: 'How many people can attend your event? We will close registrations once the event reaches this number.'%>
  <%= f.input :ticket_details, disabled: true, input_html: { maxlength: 150 }, label: 'Ticket Details',
              hint: 'Add details about your tickets like prices and where to buy them'%>
  <br>
  <h4>Organizer Details</h4>
  <hr>
  <%= f.input :organizer_title, label: 'Organizer Title',
              hint: 'This will be displayed as the event organizer' %>
  <%= f.input :organizer_desc, input_html: { maxlength: 300 }, label: 'Organizer Details',
              hint: 'A small description about you. Maximum 300 characters.'%>
  <%= f.input :organizer_tel, as: :tel, label: 'Organizer Contact Number',
              hint: 'We need a valid telephone number incase we need to contact you.  Your number will be kept private unless you select to display.' %>
  <%= f.input :telephone_visible, label: 'Show my contact number on event page', wrapper: :horizontal_boolean %>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <%= f.button :submit, class: 'btn btn-primary' %>
    </div>
  </div>

<% end %>

<script type="text/javascript">
  $('#event_start_date').pickadate({
    format: 'yyyy-mm-dd',
  });
  $('#event_end_date').pickadate({
    format: 'yyyy-mm-dd',
  });
  $('#event_start_time').pickatime();
  $('#event_end_time').pickatime();

  $(document).ready(function(){

    new google.maps.places.Autocomplete(
    (document.getElementById("event_address")), {
        //options
    });

    var input = document.getElementById("event_address");
    google.maps.event.addDomListener(input, 'keydown', function(e) {
      if (e.keyCode == 13 && $('.pac-container:visible').length) {
          e.preventDefault();
      }
    });

    var a = $("input[name='event[etype]']:checked").val();
    switch(a) {
      case "0":
        $("#event_no_of_registrations").prop("disabled", true);
        $("#event_ticket_details").prop("disabled", true);
        break;
      case "1":
        $("#event_no_of_registrations").prop("disabled", false);
        $("#event_ticket_details").prop("disabled", true);
        break;
      case "2":
        $("#event_no_of_registrations").prop("disabled", true);
        $("#event_ticket_details").prop("disabled", false);
        break;
    }

    $("input[name='event[etype]']").change(function() {
      var n = $(this).val();
      switch(n) {
        case "0":
          $("#event_no_of_registrations").prop("disabled", true);
          $("#event_ticket_details").prop("disabled", true);
          break;
        case "1":
          $("#event_no_of_registrations").prop("disabled", false);
          $("#event_ticket_details").prop("disabled", true);
          break;
        case "2":
          $("#event_no_of_registrations").prop("disabled", true);
          $("#event_ticket_details").prop("disabled", false);
          break;
      }
    });
  });

</script>
