<div class="row">

  <div class="jumbotron">
    <h1>Create awesome event pages with Eventhub!</h1>
    <p>Get started now</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Create Event</a></p>
  </div>

  <% @events.each do |event| %>
  <div class="col-md-4">
    <h1><%= event.title %></h1>
    <%= image_tag event.cover.url(:thumb) %>
    <p><%= event.description %></p>
    <%= link_to 'More', event, class: 'btn btn-default' %>
  </div>
  <% end %>



</div>
<div class="row">
  <%= will_paginate %>
</div>
<!-- <%= link_to 'New Event', new_event_path %> -->
