<%
meta title: 'Eventhub',
     description: 'Welcome to eventhub.lk! The truly Sri Lankan platform for all Sri Lankan events!',
     author: 'Eventhub',
     keywords: %w(event sri lanka colombo)
%>
<%
meta og: {
  title: "Eventhub",
  image: image_url("eventhub_cover.png"),
  url: request.original_url,
  description: "Welcome to eventhub.lk! The truly Sri Lankan platform for all Sri Lankan events!"
}
%>

<div class="container-fluid hero-container">
  <div class="cover">
    <div class="cover-img"></div>
    <div class="cover-text">
      <h2>Welcome to Eventhub</h2>
      <h3>One stop for all Sri Lankan Events!</h3>
      <div class="cover-cta-container">
        <%= link_to 'Create Event', new_event_path, class: 'btn btn-primary btn-cta' %>
        <%= link_to 'Learn More', page_path('about'), class: 'btn btn-default btn-cta-default' %>
      </div>
    </div>
  </div>
</div>

<div class="container post-grid">

  <div class="row">
    <div class="col-md-12">
      <!-- <h3>Discover What's Happening</h3> -->
    </div>
  </div>

  <% @events.in_groups_of(3, false).each do |group| %>
  <div class="row">

    <% group.each do |event| %>
    <div class="col-sm-6 col-md-4 card-container">
      <div class="card">

        <%= link_to '', event %>
        <!-- <div class="card-img"></div> -->
        <%= image_tag event.cover.url(:thumb) %>
        <div class="card-meta">
          <h2><%= event.title %></h2>
          <!-- <p><%= event.description %></p> -->
          <p class="date"><i class="fa fa-clock-o fa-fw"></i><%= event.start_date.strftime("%b %d") %></p>
        </div>

      </div>
    </div>
    <% end %>

  </div>
<% end %>



  <div class="row text-center">
    <%= will_paginate %>
  </div>
<!-- <%= link_to 'New Event', new_event_path %> -->
</div>
