<div class="row">

  <h1><%= @event.title %></h1>
  <%= image_tag @event.cover.url(:hero) %>

  <%= print_event_date %>
  
  <p>
    <%= @event.description %>
  </p>

  <% if @event.user == current_user %>
    <%= link_to 'Edit', edit_event_path(@event), class: 'btn btn-default' %>
  <% end %>
</div>
