<div class="row">

  <h1><%= @event.title %></h1>
  <% @event.users.each do |u| %>
    <h3><%= u.name %></h3>
  <% end %>
  <%= image_tag @event.cover.url(:hero) %>

  <%= print_event_date %>

  <p>
    <%= @event.description %>
  </p>
  <%= registered_check(@event) %>
  <!-- <%= link_to 'Register', new_event_registration_path(@event), class: 'btn btn-primary' %> -->
  <% if @event.creator == current_user %>
    <%= link_to 'Edit', edit_event_path(@event), class: 'btn btn-default' %>
  <% end %>
</div>
