<% content_for(:head) do %>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBF9CVORZkgwcYTVMUuH143sJXsRMZ1M5s&libraries=places">
  </script>
<% end %>

<div class="container event-full">

  <div class="row">

    <div class="col-md-12">

      <div class="event-cover">
        <%= image_tag @event.cover.url(:hero), class: 'img-responsive' %>
        <div class="cover-head">
          <h1><%= @event.title %></h1>
        </div>
      </div>

    </div>
  </div>

  <div class="row event-meta">
    <div class="col-md-8">
      <h4><i class="fa fa-clock-o fa-fw"></i><%= print_event_date %></h4>
      <h4><i class="fa fa-map-marker fa-fw"></i><%= @event.address %></h4>
      <h4><i class="fa fa-paper-plane fa-fw"></i>Organized by <%= @event.organizer_title %></h4>
    </div>
    <div class="col-md-4 text-center">
        <%= registration_check(@event) %>
    </div>
  </div>

  <div class="row event-body">
    <div class="col-md-8">

      <div class="event-desc">

        <%= simple_format(@event.description) %>

        <% if @event.creator == current_user %>
          <%= link_to 'Edit Event', edit_event_path(@event), class: 'btn btn-default' %>
        <% end %>

      </div>
      <!-- <%= link_to 'Register', new_event_registration_path(@event), class: 'btn btn-primary' %> -->

    </div>

    <div class="col-md-4">
      <div class="event-extra">

        <%= print_attendee_count %>


        <div class="event-extra-card">
          <p>
            <i class="fa fa-phone fa-fw fa-2x pull-left"></i>
            Contact organizer <br>
            <%= @event.organizer_tel %>
          </p>
        </div>
      </div>
    </div>

  </div>

  <div class="row event-map">
    <div class="col-md-12">
      <%= render 'map' %>
    </div>
  </div>

</div>
