<% content_for(:head) do %>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBF9CVORZkgwcYTVMUuH143sJXsRMZ1M5s&libraries=places&signed_in=true">
  </script>
<% end %>

<%
meta title: @event.title,
     description: truncate(@event.description, length: 150),
     author: @event.organizer_title,
     keywords: %w(event sri lanka colombo)
%>
<%
meta og: {
  title: "#{@event.title} — Eventhub",
  image: URI.join(request.url, @event.cover.url(:hero)),
  url: request.original_url,
  description: truncate(@event.description, length: 150)
}
%>

<div class="container event-full">

  <div class="row">

    <div class="col-md-12">

      <div class="event-cover">
        <%= image_tag @event.cover.url(:hero), class: 'img-responsive' %>
        <div class="cover-head">
          <h1><%= @event.title %></h1>
        </div>
      </div>

    </div>
  </div>

  <div class="row event-meta">
    <div class="col-md-8">
      <h4><i class="icon ion-android-calendar md-24"></i><%= print_event_date %></h4>
      <h4><i class="icon ion-android-pin md-24"></i><%= @event.address %></h4>
      <h4><i class="icon ion-android-person md-24"></i>Organized by <%= @event.organizer_title %></h4>
    </div>
    <div class="col-md-4 reg-box text-center">
        <%= registration_check(@event) %>
    </div>
  </div>

  <div class="row event-body">
    <div class="col-md-8">

      <div class="event-desc">

        <!! simple_format(@event.description) !!>
        <%= markdown(@event.description).html_safe %>

        <% if @event.creator == current_user %>
          <%= link_to 'Edit Event', edit_event_path(@event), class: 'btn btn-default' %>
        <% end %>

      </div>

      <%= print_organizer_desc %>

      <!-- <%= link_to 'Register', new_event_registration_path(@event), class: 'btn btn-primary' %> -->

    </div>

    <div class="col-md-4">

      <%= print_ticket_details %>

      <div class="event-extra">

        <div class="event-extra-card">
          <h5>Share Event</h5>
          <%= render 'share' %>
        </div>


        <%= print_attendee_count %>

        <%= print_fb_link %>

        <%= print_organizer_tel %>

      </div>
    </div>

  </div>


  <div class="row event-map">
    <div class="col-md-12">
      <%= render 'map' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="event-promo text-center">
        <h4>Want to see your event here?</h4>
        <h4>Submit your event now. It's free!</h4>
        <%= link_to 'Create Event', new_event_path, class: 'btn btn-primary btn-promo-cta' %>
      </div>
    </div>
  </div>

</div>
