<div id="cover">
  <div class="container">
    <div class="row text-center">
      <h1>Discover and Share Great Experiences</h1>
      <h2>Eventhub is the platform to find and share the best events happening in Sri Lanka</h2>
    </div>
  </div>
</div>

<div class="section intro-a">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center hero-text-container">
        <h1>Discover</h1>
        <p>Eventhub is not just another event listing site or ticketing site.
        We are here to share great experiences happening in Sri Lanka.
        Whatever your passion is, we want you to discover what you'll love.
        We believe in bringing people together.
        We believe in letting you experience life at its best!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <%= image_tag "promo/browser_scrns.png", class: "img-responsive" %>
      </div>
    </div>
  </div>
</div>

<div class="section intro-b">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center hero-text-container">
        <h1>Redefine Your Event Organizing Experience</h1>
        <p>Being event organizers ourselves we know how stressful it can be to organize a great event.
          That's why we built Eventhub. Using our platform you can easily organize and manage your event and
          make the overall event experience better for both organizers and attendees.
        </p>
      </div>
    </div>
    <div class="row bullet-row">
      <div class="col-md-4">
        <%= image_tag "icons/pc.png", class: "img-responsive bullet-icon" %>
        <h4>One-Click Setup</h4>
        <p>
          With our simple event creation form you can put your event online easily.
          In a few clicks you can submit your event and it'll appear on Eventhub as soon as it's
          approved.
        </p>
      </div>
      <div class="col-md-4">
        <%= image_tag "icons/profile.png", class: "img-responsive bullet-icon" %>
        <h4>Handle Registrations</h4>
        <p>
          You can let people register for your event through eventhub. They can either use an Eventhub account or their social
          media profiles like Facebook, Twitter to register.
        </p>
      </div>
      <div class="col-md-4">
        <%= image_tag "icons/cc.png", class: "img-responsive bullet-icon" %>
        <h4>Sell Tickets</h4>
        <p>
          If you are hosting a paid event, you can sell tickets online through Eventhub. No need for long and expensive contracts,
          reach a whole new audience to sell you tickets in a few clicks.
          <span><em>Coming Soon</em></span>
        </p>
      </div>
    </div>
    <div class="row bullet-row">
      <div class="col-md-offset-2 col-md-4">
        <%= image_tag "icons/list.png", class: "img-responsive bullet-icon" %>
        <h4>Guest Lists</h4>
        <p>
          You can see who registered for your event realtime through our organizer tools. Say goodbye to empty seats.
          Know who's coming to your event early on.
        </p>
      </div>
      <div class="col-md-4">
        <%= image_tag "icons/heart.png", class: "img-responsive bullet-icon" %>
        <h4>Win Your People</h4>
        <p>
          Eventhub is built to be a great experience for the users. With our fast, interactive, eye-catching, mobile-optimized
          platform your can provide a better and beautiful service to your people.
        </p>
      </div>
    </div>
  </div>
</div>


<div class="section intro-c">
  <div class="container">
    <div class="row">
      <div class="col-md-6 hero-text-container">
        <h1>Promote</h1>
        <p>Getting heard on social media can be complex.
          That's why we provide free event promotion though our social channels.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="section intro-b">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center hero-text-container">
        <h1>Reach Your Audience</h1>
        <p>Reach thousands of potential attendees by submitting your event to Eventhub instantly.
          Get <em>free</em> exposure on Social Media and Google.
        </p>
      </div>
    </div>
    <div class="row bullet-row">
      <div class="col-md-offset-2 col-md-4">
        <%= image_tag "icons/group.png", class: "img-responsive bullet-icon" %>
        <h4>Social Media</h4>
        <p>
          Our social media experts craft beautifully customized posts for your event and share on social media ensuring
          the highest engagement for your event.
        </p>
      </div>
      <div class="col-md-4">
        <%= image_tag "icons/seo.png", class: "img-responsive bullet-icon" %>
        <h4>SEO</h4>
        <p>
          All our event pages are Search Engine and Mobile Optimized to give you the maximum visibility and drive more people to
          discover your event.
        </p>
      </div>
    </div>
  </div>
</div>


<div class="section intro-d">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center hero-text-container">
        <h1>Ready to Get Started?</h1>
        <%= link_to 'Submit Your Event Now!', new_user_registration_path, class: 'btn btn-cta btn-cta--red' %>
      </div>
    </div>
  </div>
</div>
